.blockcentral{padding: 0px;  margin: 5rem;}
.imageResponsive{  width: 100%;}
.jpg{padding: 1px;}
.col-12{border-color: cornsilk;}
.col-md .col-md-8 .col-md-4{border-color: cornsilk;}
.icon{padding: 0.3em;margin: 0%;}
.container{padding: 0%;}

@media screen and (max-width: 500px) {.blockcentral{padding: 0px;  margin: 16px;}}

h1 {text-align: center;}