/* COMMUN!!! */
body{font-family: 'Montserrat', sans-serif;
  padding-top: 3%;
}
.blockcentral{padding: 0rem; margin: 5rem;}
.icon{width: 75px; padding: 0em;margin: 0rem;}
 h1 {text-align: center;}
 h1,h2,h3,h4{/*font-family: 'Merriweather', serif;*/
  font-family: 'Philosopher', sans-serif;
  /*font-family: 'Noticia Text', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Noto Serif', serif;
  font-family: 'IBM Plex Sans', sans-serif;*/}
  /* navbar (top.php) */
  .textlogo {display: flex;
    text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.774);}
  .navbar{padding: 0%;}
  .navbar-brand{margin-right: 24px;}
  .contactR{margin-right:1rem;}

.icon:hover{opacity: 0.8;}
/* PAGE home */
  /* carousel */
  .index{z-index: 200;}
  .carousel-caption{position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .text-carousel {
    position: absolute;
    top: 50%;
    width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
      color: rgb(255, 255, 255);
      text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.774);
      vertical-align: middle;
    }
  /* texte image a propos+ cv+ skill  */
  .text-content {
    position: absolute;
    bottom: 15%;
    left: 5%;
    text-align: center;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.774);
  }
    /* 4 icones */
    .containerLogo{padding:0rem; margin:0rem;}
    .icontop{margin-bottom: 2rem;}
    .iconbottom{margin-top: 0rem;}


/* PAGE 404 */
.forofor {
  display: block;
  margin: auto;
 }


 /* Responsive */
 /* iphone 5*/
@media screen and (max-width: 340px) {.text-carousel{top: 15% ;}}

/* iphone 6/7/8/X */
@media screen and (max-width: 450px) {
  .navbar-brand{margin-right: 0%;}
  .blockcentral{padding: 0px;  margin: 0px;}
  .text-carousel{top: 25% ;}
}
/* ipad */

@media screen and (max-width: 790px) { 
  .navbar-brand{margin-right: 15%;}
  .blockcentral{padding: 0px;  margin: 16px;}
  .text-carousel{top: 20%;}
}
/* ipad */
@media screen and (min-width: 790px) {
  .text-carousel{top: 35%}
}

@media screen and (min-height: 790px) {
  .text-carousel{top: 35%}
}
enlver vardump en cas erreur
ajuster pour chaque telephone le carousel

ajouter une page en attente pour les projets

mettre en ligne 

mettre a jour 

doc technique a remplir :
excel tout les jours 
remplir la doc wireframe iphone

faire des commits





